<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container">

	<h2 class="error" *ngIf="error">
		{{error}},
		<a [routerLink]="['/home']">
      go to home page...
    </a>
	</h2>

	<div class="row details" *ngIf="film">
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<div class="poster">
				<div class="center">
					<img src="/assets/starwars.svg" alt="Star" class="logo">
					<h2 class="title">{{film.title}}</h2>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
			<div class="content">
				<h2 class="title">{{film.title}}</h2>
				<p class="opening_crawl">
					<strong>Opening Crawl:</strong>
					{{film.opening_crawl}}
				</p>
				<p class="director">
					<strong>Director:</strong>
					{{film.director}}
				</p>
				<p class="producer">
					<strong>Producer:</strong>
					{{film.producer}}
				</p>
				<p class="release_date">
					<strong>Relese Date:</strong>
					{{film.release_date | date}}
				</p>
				<div>
				</div>
			</div>
		</div>
	</div>
