.error{
  margin-top: 20px;
  color: #fff;
}
.details{
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255,0.16),0 2px 10px 0 rgba(255, 255, 255,0.12);
  border: 1px solid rgba(255, 255, 255, .1);
  background-color: rgba(255, 255, 255, .1);
  margin-top: 30px;

  .poster{
    max-width: 350px;
    height: 500px;
    position: relative;
    background-image: url('/assets/bg.jpg');
    margin: 10px 0px;
    img {
      width: 100%;
      transform: scale(0.7);
    }
    .center{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .title {
      color: #fff;
      font-family: "ITC Serif Gothic", Lato;
      font-size: 24px;
      letter-spacing: 0.4em;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .content{
    .title {
      color: #fff;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      margin-top: 2px;
      margin-bottom: 20px;
      padding-bottom: 2px;
    }
    .opening_crawl{
      padding-bottom: 10px;
    }
  }
}
