.error{
  margin-top: 20px;
  color: #fff;
}
.cards{
  margin: 30px 0px 5px;

  .card {
    height: 500px;
    background-image: url('/assets/bg.jpg');
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255,0.16),0 2px 10px 0 rgba(255, 255, 255,0.12);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, .1);

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(255, 255, 255,0.16),0 3px 11px 0 rgba(255, 255, 255,0.12);
    }

    .center{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .star{
      padding-bottom: 10px;
    }
    img {
      width: 100%;
      transform: scale(0.7);
    }
    .read-more{
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 20px;
      text-align: center;
      font-weight:600;
      color: #fff;
    }
    .title {
      color: #fff;
      font-family: "ITC Serif Gothic", Lato;
      font-size: 24px;
      letter-spacing: 0.4em;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 576px){
  img {
    transform: scale(0.5);
  }
}
@media (min-width: 576px){
  img {
    transform: scale(0.5);
  }
}
